<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
      <!-- Typography CSS -->
    <link rel="stylesheet" href="/css/typography.css" type="text/css">
      <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
      <!-- Responsive CSS -->
     <link rel="stylesheet" href="/css/responsive.css" type="text/css">
     <link rel="stylesheet" href="/css/animate.css" type="text/css">
</head>
<body>
  <%- body %>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/popper.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script type="text/javascript" src="/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script type="text/javascript" src="/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script type="text/javascript" src="/js/waypoints.min.js"></script>
      <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script type="text/javascript" src="/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script type="text/javascript" src="/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script type="text/javascript" src="/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script type="text/javascript" src="/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script type="text/javascript" src="/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script type="text/javascript" src="/js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script type="text/javascript" src="/js/core.js"></script>
      <!-- am charts JavaScript -->
      <script type="text/javascript" src="/js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script type="text/javascript" src="/js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script type="text/javascript" src="/js/kelly.js"></script>
      <!-- am maps JavaScript -->
      <script type="text/javascript" src="/js/maps.js"></script>
      <!-- am worldLow JavaScript -->
      <script type="text/javascript" src="/js/worldLow.js"></script>
      <!-- Raphael-min JavaScript -->
      <script type="text/javascript" src="/js/raphael-min.js"></script>
      <!-- Morris JavaScript -->
      <script type="text/javascript" src="/js/morris.js"></script>
      <!-- Morris min JavaScript -->
      <script type="text/javascript" src="/js/morris.min.js"></script>
      <!-- Flatpicker Js -->
      <script type="text/javascript" src="/js/flatpickr.js"></script>
      <!-- Style Customizer -->
      <script type="text/javascript" src="/js/style-customizer.js"></script>
      <!-- Chart Custom JavaScript -->
      <script type="text/javascript" src="/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>